In [18]:
import pandas as pd 

# Read data from file
data = pd.read_csv("data.csv") 

data.head(10)

         date  country  patients
0  2020-01-02  germany         0
1  2020-01-04    swiss         0
2  2020-01-06  germany         5
3  2020-01-01  germany         0
4  2020-01-03  germany         1
5  2020-01-05    swiss         0
6  2020-01-03   france         0
7  2020-01-07    swiss         5
8  2020-01-05  germany         4
9  2020-01-02   france         0

In [19]:
data_edited = pd.read_csv("data-edited.csv") 

data_edited.head(10)

         date  country  patients  day
0  2020-01-02  germany         0  NaN
1  2020-01-04    swiss         0  NaN
2  2020-01-06  germany         5  4.0
3  2020-01-01  germany         0  NaN
4  2020-01-03  germany         1  1.0
5  2020-01-05    swiss         0  NaN
6  2020-01-03   france         0  NaN
7  2020-01-07    swiss         5  1.0
8  2020-01-05  germany         4  3.0
9  2020-01-02   france         0  NaN